.main{
    width: 18rem;
    height: 33rem;
    background-color: black;
    border-radius: 10px;
}
.inpt input{
    border: 0;
    outline: 0;
    
}
.in2{
    font-size: 2rem;
}
.main button{
    width: 50px;
}
.mainLight{
    background-color: white;
}
.mainLight button{
    color: black;
    border: 1px solid black;
}
.inpt{
    border: 1px solid black;
    width: 16rem;
    border-radius: 10px  ;
    padding: 10px    ;
    background-color: white;
    
}